* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Manrope", sans-serif;
  background-color: var(--Dark-Blue);
}

:root {
  --Light-Cyan: hsl(193, 38%, 86%);
  --Neon-Green: hsl(150, 100%, 66%);
  --Grayish-Blue: hsl(217, 19%, 38%);
  --Dark-Grayish-Blue: hsl(217, 19%, 24%);
  --Dark-Blue: hsl(218, 23%, 16%);
}

body {
  margin: 0 auto;
}

.container {
  width: 92.5%;
  margin: 7.5rem auto 14.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--Dark-Grayish-Blue);
  padding: 2.5rem 0 5rem;
  border-radius: 10px;
  position: relative;
}

.advice__num {
  font-size: 0.6875rem;
  text-transform: uppercase;
  letter-spacing: 3.46px;
  margin-bottom: 1.5rem;
  color: var(--Neon-Green);
}

.quote {
  font-size: 28px;
  text-align: center;
  margin-bottom: 1.5rem;
  color: var(--Light-Cyan);
  width: 95%;
}

.dice__container {
  position: absolute;
  padding: 1.5rem;
  background-color: var(--Neon-Green);
  display: flex;
  border-radius: 50%;
  bottom: -10%;
  cursor: pointer;
}

.dice__container:hover {
  box-shadow: 0px 0px 10px 0px var(--Neon-Green);
  transition: 0.2s ease-in-out;
}

.pattern__divider-desktop {
  display: none;
}

footer {
  position: absolute;
  bottom: 0;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (min-width: 900px) {
  main {
    min-height: calc(100vh - 15rem);
  }

  .container {
    max-width: 540px;
  }

  .quote {
    width: 85%;
  }
}
